.SingleSelect {
  display: flex !important;
}

.SingleSelect-icon {
  margin-right: 10px;
  margin-top: 10px;
  size: 100px !important;
  color: #FFF !important;
}

.css-10nd86i {
  width: 100% !important;
}