.MenuList-button {
  outline: none !important;
}

.MenuList-paper {
  z-index: 100 !important;
}

.MenuList-text {
  font-weight: 700;
  color: #3f51b5;
}

.MuiList-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}