.EmployeePage {
  width: 1200px;
  margin: 0 auto;
}

.EmployeePage-categoryList {
  width: 230px;
  margin-right: 20px;
}

.HomePageContainer-employeeListContainer {
  display: grid;
}

.EmployeePage-container {
  width: 1200px;
  margin: 0 auto;
}