.FormComponent {
  width: 400px;
}

.FormComponent-inputCustom {
  display: grid;
  text-decoration: none;
  outline: none;
}

.FormComponent-button {
  width: 400px !important;
  height: 40px;
  border-radius: 3px;
  background-color: #ffaa00;
  margin-top: 34px;
}
button.FormComponent-button {
  padding: 0px !important;
}

.FormComponent-buttonText {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 0.2px;
  color: #ffffff;
  cursor: pointer;
  outline: none !important;
}

.FormComponent-separate {
  height: 1px;
  background-color: #e8e8e8;
  margin-top: 3px;
}

.FormComponent-separateColor {
  height: 1px;
  background-color: #ffaa00;
}

.FormComponent-placeHolderTop {
  width: 58px;
  height: 20px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #ffaa00;
  margin-top: 30px;
}

input.FormComponent-inputHover {
  outline: none;
  width: 380px;
}

input.FormComponent-inputHoverEmail {
  outline: none;
  width: 400px;
}