.ForgotPassword {
    height: 1157px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    z-index: 1;
    width: 1200px;
    margin: 0 auto;
    text-align: initial;
  }
  
  .ForgotPassword-shakeAffect {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  
  .ForgotPassword-closeButton {
    width: 40px;
    height: 40px;
    background-color: #FFF;
    border-radius: 30px;  
    margin-left: 790px;
    margin-top: 120px;
    cursor: pointer;
    outline: none !important;
  }
  
  .ForgotPassword-closeButton:hover {
    background-color: #3f51b5;
  }
  
  .ForgotPassword-reportJob {
    width: 400px;
    border-radius: 3px;
    background-color: #f9f9f9;
    margin: 0 auto;
    padding: 20px;
  }
  
  .ForgotPassword-reportJobContent {
    width: 360px;
    border-radius: 3px;
    background-color: #FFF;
    border: solid 1px #e8e8e8;
    padding-bottom: 25px;
  }
  
  .ForgotPassword-formText {
    height: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #3f51b5;
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 25px;
    text-align: center;
  }

  .ForgotPassword-helperText {
    height: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #3f51b5;
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 15px;
    text-align: center;
  }
  
  .ForgotPassword-formContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .ForgotPassword-selectOptionTitle {
    height: 20px;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #000000 !important;
  }
  
  .ForgotPassword-submitReport {
    min-width: 74px;
    border-radius: 3px;
    background-color: #007bff;
    margin-top: 20px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .ForgotPassword-fieldset {
    margin-top: 10px;
    height: 20px !important;
  }
  
  .ForgotPassword-radio {
    width: 10px;
    height: 10px;
    border: solid 1px #e7e7e7;
    display: none;
  }
  
  
  .ForgotPassword-submitReportText {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
  }
  
  
  .ForgotPassword-selected {
    border: solid 4px #4A8ACE;
  }
  
  .ForgotPassword-displayFlex {
    display: flex;
  }
  
  .ForgotPassword-emailField {
    width: 100%;
  }
  
  .ForgotPassword-passwordField {
    width: 100%;
  }
  
  .ForgotPassword-button {
    width: 100%;
    margin-top: 10px !important;
    height: 50px;
    border-radius: 3px;
    background-color: #3f51b5;
    padding: 0px !important;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none !important;
    border-radius: 12px;
    background-image: linear-gradient(to bottom, #3f51b5, #3f51b5 30%, #28367E);
  }
  
  .ForgotPassword-buttonText {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #FFF;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  .ForgotPassword-showPopup {
    display: block !important;
  }